.header {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
  height: 6rem;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0px 2px rgba(129, 123, 123, 0.3);
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
}

.header__logo {
  font-family: Roboto;
  font-size: 3.2rem;
  text-shadow: 2px 2px rgba(58, 53, 53, 0.73);
  color: white;
  cursor: default;
}

.header__search {
  width: 100%;
  margin-left: 11rem;
  margin-right: 18%;
}

.header__toggle {
  display: block;
  width: 44px;
  height: 44px;

  font-family: Roboto;
  color: white;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(58, 53, 53, 0.73);
  border: 1px solid rgb(185, 184, 184);
  border-radius: 7px;
  background-color: transparent;
  box-shadow: 0 0 2px rgba(129, 123, 123, 0.3);
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__search {
    margin: 0 10%;
  }
}

@media (max-width: 576px) {
  .header {
    margin-bottom: 10rem;
  }

}

@media (max-width: 576px) {
  .header__search {
    position: absolute;
    bottom: -7rem;
    left: 40%;
    transform: translateX(-50%);
    width: 90%;
  }
}