.App {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #a8ff78, #78ffd6);
}

.App__wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1.5625rem 1.5625rem;
}

.App.hot {
  background: linear-gradient(to top, #fbd400, #f97c00);
}

.App.rain {
  background: linear-gradient(to top, #bdc3c7, #2c3e50);
}

.App.cold {
  background: linear-gradient(to top, #1CB5E0, #000046);
}

.App.clouds {
  background: linear-gradient(to bottom, #bdcad9 0%, #e1dada 74%);
}

.App.night {
  background: linear-gradient(to top, #01426D 0%, #001D37 74%);
}